<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mnswpr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4469E56B1BB77B220025A204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4469E57F1BB77B220025A204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4469E58A1BB77B220025A204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
